
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Debug/BNHHANCN.dll
obj/Debug/BNHHANCN.pdb
obj/Debug/BNNHANCN.vbproj.CoreCompileInputs.cache
obj/Debug/BNNHANCN.vbproj.FileListAbsolute.txt
obj/Debug/BNNHANCN.vbproj.GenerateResource.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/NTSInformatica.FRMHHANCN.resources
obj/Debug/NTSInformatica.Resources.resources
obj/Debug/TempPE/My Project.Application.Designer.vb.dll
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.vb
obj/Release/BNHHANCN.dll
obj/Release/BNHHANCN.pdb
obj/Release/BNNHANCN.vbproj.CoreCompileInputs.cache
obj/Release/BNNHANCN.vbproj.FileListAbsolute.txt
obj/Release/BNNHANCN.vbproj.GenerateResource.cache
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/NTSInformatica.FRMHHANCN.resources
obj/Release/NTSInformatica.Resources.resources
obj/Release/TempPE/My Project.Application.Designer.vb.dll
obj/Release/TempPE/My Project.Resources.Designer.vb.dll
